@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

html {font-size: 100%;} /*16px*/

body {
  background: white;
  font-family: 'Raleway', sans-serif;
  color: #000000;
}