#dictionary {
    .modal-header {
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #43519d;
        border: none;

        .input-group {
            width: 100%;
            #searchBox {
                // width: 100%;
            }
            #dicSearchBtn {
                background-color: #252e59;
                border: none;
                // border-color: #43519d;
            }
    
            #dicRefreshBtn {
                background-color: #252e59;
                border-color: #43519d;
            }
        }
    }

    .modal-body {
        min-height: 300px;
        max-height: 650px;
        padding-top: 0;
        margin-right: 3px;
        overflow-y: scroll;
        // padding: 0;

        &::-webkit-scrollbar {
            width: 8px;
        }
        
        &::-webkit-scrollbar-track {
            display: none;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: #4e4e4e;
            border-radius: 5px;
            margin-right: 2px;
        }

        #searchResult {

            #dicResultTop {
                padding: 20px 0;
                #word {
                    display: inline-block;
                    font-size: 3rem;
                }
    
                #pronunciation {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
            #definitions {
                // padding: 20px;
                .results {
                    background-color: rgb(236, 236, 236);
                    border-radius: 8px;
                    // margin: 20px 0;
                    margin-bottom: 15px;;
                    // padding: 20px;
                    .eachDefinition {
                        background-color: #252e59;
                        padding: 10px;
                        border-radius: 0 8px 0 0 ;
                        .definition {
                            color: white;
                        }
        
                        .partOfSpeech {
                            font-style: oblique;
                            color: rgb(190, 190, 190);
                        }
                    }
                    .synonyms {
                        padding: 10px;
                        overflow-y: hidden;
                        justify-content: space-between;
                        max-height: 65px;
                        .seeMoreBtn {
                            text-decoration: underline;
                            border: none;
                            display: flex;
                            float: right;

                            &:hover {
                                background-color: none;
                                background: none;
                                color: #252e59;
                            }
                        }

                        .seeLessBtn {
                            text-decoration: underline;
                            border: none;
                            display: flex;
                            float: right;

                            &:hover {
                                background-color: none;
                                background: none;
                                color: #252e59;
                            }
                        }
    
                        .synonym {
                            margin: 8px;
                        }
                    }
                }
            }
        }
        #moreDefinitionsBtn {
            width: 50px;
            height: 50px;
            background-color: #43519d;
            border-radius: 100%;

            &:hover {
                background-color: #252e59;
            }
        }
    }
}

@media only screen and (max-width: 769px) {
    .input-group {
        width: 80% !important;
        margin-left: 15px;
    }
}
