nav {
    display: flex;
    position: sticky;
    background-color: #43519D;
    color: white;
    justify-content: space-around;

    .task_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        margin-left: 20px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        color: white;
        &.open {
            color: lightgray;
        }
    }
    
    .nav_links {
        list-style: none;
        display: flex;
        
        .nav_item a {
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 1em 2em;

            &:hover {
                color: lime;
            }

            &.active {
                font-weight: bold;
            }
        }
    }
}

.top_nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    .top_nav {
        display: none;
    }
}