nav {
    display: flex;
    position: sticky;
    background-color: #43519d;
    color: white;
    justify-content: space-around;

    .task_btn {
        display: flex;
        float: left;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: white;
        height: 56px;
        width: 56px;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #252e59;
            border-color: #252e59;
        }

        &.open {
            color: whitesmoke;
            background-color: #252e59;
            border-color: #252e59;
        }
    }

    .nav_links {
        list-style: none;
        display: flex;

        .nav_item {
            a {
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: 1em 2em;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #252e59;
                    border-color: #252e59;
                }

                &.active {
                    font-weight: bold;
                }
            }

            .nav_btn {
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: 1em 2em;
                border: none;
                border-radius: 0;
                transition: all 0.3s ease-in-out;

                // &:focus {
                //     outline: none !important;
                //     outline:0;
                // }

                &:hover {
                    background-color: #252e59;
                    border-color: #252e59;
                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}

.top_nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile_nav {
    display: none;

    .mobile_menu_btn {
        display: flex;
        float: left;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: white;
        height: 56px;
        width: 56px;
        justify-content: center;
        align-items: center;
    
        &:hover {
            background-color: #252e59;
            border-color: #252e59;
        }
    
        &.open {
            color: whitesmoke;
            background-color: #252e59;
            border-color: #252e59;
        }
    }
}

@media only screen and (max-width: 450px) {
    .top_nav {
        display: none;
    }
    nav {
        // position:absolute;
        position: fixed;
        display: block;
    }
    #mobile_nav {
        height: 50px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile_menus {
        // position: absolute;
        display: block;
        // width: 56px;
        // top: 56px;
        width: 100vw;
        height: calc(100vh - 56px);
        background-color: antiquewhite;
        flex-direction: column;
        // left: -56px;

        .nav_items {
            display: flex;
            width: 100%;

            .nav_btn {
                display: block;
            }
        }
    }
}
