#taskWrapper {
    display: block;
    position: absolute;
    width: 270px;
    height: calc(100vh - 56px);
    transition: all 0.25s ease-in-out;
    background-color: rgb(225, 225, 225);
    left: -270px;

    &.open {
        left: 0px;
    }

    #taskgrid {
        display: block;

        h3 {
            margin: 10px 20px;
        }

        #taskList {
            display: block;
            background-color: rgb(225, 225, 225);
            height: 650px;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-top: 10px;

            &.open {
                background-color: rgb(56, 56, 56);
            }

            #emptyTaskList {
                margin: 0 20px;
            }

            .task_item {
                display: flex;
                margin: 0 5px 10px 10px;
                border-radius: 8px;
                background-color: whitesmoke;
                list-style: none;

                .item_top {
                    display: block;
                    // justify-content: center;
                    align-items: center;
                    margin-bottom: 10px;

                    .task-labels {
                        display: flex;
                        float: right;
                    }

                    .card-title {
                        display: inline-block;
                        margin-left: 10px;
                        margin-bottom: 0;
                    }

                    .checkBtn {
                        display: inline-block;
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        justify-content: center;
                        align-items: center;

                        i {
                            display: block;
                            border-radius: 100%;
                        }
                    }
                }
                .task-left {
                    width: 70%;
                    display: inline-block;
                    .task_details {
                        color: rgb(56, 56, 56);
                        .card-text {
                            margin-left: 10px;
                        }
    
                        &.low_pr {
                            color: rgb(41, 62, 255);
                        }
    
                        &.medium_pr {
                            color: rgb(252, 181, 0);
                        }
    
                        &.high_pr {
                            color: rgb(201, 20, 0);
                        }
    
                        i {
                            display: inline-block;
                        }
    
                        p {
                            display: inline-block;
                            color: rgb(56, 56, 56);
                        }
                    }
                }

                .task-right {
                    display: inline-block;
                    flex-direction: column;
                    width: 30%;
                    .task_buttons {
                        display: flex;
                        align-self: flex-end;
                        // margin-top: 10px;
                        // width: 100%;
                    }
                }
            }
        }
    }

    #addTask {
        display: block;
        position: absolute;
        width: 270px;
        height: 500px;
        background-color: #ffffff;
        bottom: calc(56px - 500px);
        border-radius: 10px 10px 0 0;
        padding: 10px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;
        color: rgb(54, 54, 54);
        &.open {
            bottom: 56px;
        }

        label {
            margin-top: 5px;
            span {
                margin-left: 7px;
            }
        }

        #taskLabelDropdown {
            .btn-group {
                width: 100%;
                .label_btns {
                    display: block;
                }
                .label-deleteBtn {
                    display: block;
                }
            }
        }
    }
}

#uploadBtnContainer {
    display: flex;
    width: 270px;
    position: absolute;
    z-index: 1;
    bottom: 26px;
    justify-content: center;
    align-items: center;

    #addBtn {
        display: inline-block;
        justify-content: center;
        align-items: center;
        color: #43519d;
        cursor: pointer;
        padding: 0 4px;
        background-color: whitesmoke;
        border-radius: 50%;
        border: 10px solid whitesmoke;

        &:hover {
            background-color: #43519d;
            border: 10px solid #43519d;
            color: whitesmoke;
        }

        &.open {
            display: none;
        }
    }

    #uploadBtn {
        display: none;

        &.open {
            display: inline-block;
            justify-content: center;
            align-items: center;
            color: #43519d;
            cursor: pointer;
            background-color: whitesmoke;
            padding: 0 4px;
            border-radius: 50%;
            border: 10px solid whitesmoke;

            &:hover {
                background-color: #43519d;
                border: 10px solid #43519d;
                color: whitesmoke;
            }
        }
    }
}

#task_bottom {
    display: flex;
    position: absolute;
    height: 56px;
    width: 270px;
    bottom: 0;
    background-color: #252e59;
    align-items: center;

    #sortTasksBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #252e59;
        color: white;
        border: none;
        height: 60%;
        float: right;
    }
}

#taskList::-webkit-scrollbar {
    width: 8px;
}

#taskList::-webkit-scrollbar-track {
    display: none;
}

#taskList::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    border-radius: 5px;
}

// Kanban Board

#kanban {
    left: 0;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 56px);
    background-color: whitesmoke;
    transition: all 0.25s ease-in-out;

    #kanbanAddInputGroup {
        width: 25%;
    }

    #myKanban {
        #kanbanBtn-container {
            margin: 15px;
            overflow: hidden;
        }
    }

    &.open {
        margin-left: 270px;
        width: calc(100vw - 270px);
        background-color: whitesmoke;
    }

    #addBoardBtn {
        z-index: 0;
    }
}

.kanban-board {
    height: 620px;

    .kanban-title-board {
        color: white;
    }

    &[data-id="toDo"] {
        .kanban-board-header {
            background-color: #178bff;
        }
    }

    &[data-id="inProgress"] {
        .kanban-board-header {
            background-color: #ffc31e;
        }
    }

    &[data-id="done"] {
        .kanban-board-header {
            background-color: #3dd66b;
        }
    }

    .boardDeleteBtn {
        border: none;
        display: flex;
        float: right;
        margin: auto;
        color: white;
    }
}

.kanban-item {
    justify-content: center;
    align-items: center;
    .kanbanItemBtn {
        border: none;
        display: flex;
        float: right;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    #kanban {
        display: none;
    }

    #taskWrapper {
        left: 0;
        width: 100%;
        height: 100%;

        #addTask {
            width: 100%;
            bottom: -500px;

            &.open {
                bottom: 0;
            }
        }

        #task_bottom {
            width: 100%;
            display: none;
        }

        #uploadBtnContainer {
            width: 100%;
        }
    }
}