#timers {
    .modal-header {
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #43519d;
        border: none;

        #timerNav {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            #timerTabs {
                display: flex;
                background-color: #252e59;
                padding: 0.75rem;
                border-radius: 8px;
                align-items: center;

                & > * {
                    z-index: 2;
                }
                i {
                    margin-left: 10px;
                }
                .tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25px;
                    width: 140px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.25s ease-in-out;
                    font-size: 1.25rem;
                    font-weight: 0.5rem;
                    color: rgb(160, 160, 160);
                }

                input[type="radio"] {
                    display: none;

                    &:checked + label {
                        color: white;
                    }
                }

                input[id="tabP"] {
                    &:checked ~ .glider {
                        transform: translateX(0);
                    }
                }

                input[id="tabS"]:checked ~ .glider {
                    transform: translateX(100%);
                }

                .glider {
                    position: absolute;
                    display: flex;
                    margin: 0;
                    height: 30px;
                    width: 140px;
                    background-color: #43519d;
                    z-index: 1;
                    border-radius: 7px;
                    transition: 0.25s ease-in-out;
                }
            }
        }
    }

    .modal-body {
        display: flex;
        height: 600px;

        #timers_p {
            display: none;
            margin: 20px;

            &.active {
                display: block;
            }

            & > .row {
                height: 100%;
            }

            #pomodoroContainer {
                margin-top: 20px;
                justify-content: space-between;
                // align-items: center;
                #pInputContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
                #pomodoroDisplays {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    #pomodoroTime {
                        position: relative;
                        display: flex;
                        font-weight: 600;
                        font-size: 60px;
                        flex-direction: column;
                        // float: right;
                        justify-content: center;
                        align-items: center;
    
                        #loopDisplay {
                            display: none;
                            font-size: 50px;
                        }
                    }
                }
            }

            #slider {
                position: absolute;
                bottom: 0;
                .slider-values {
                    float: right;
                }
            }
        }

        #timers_s {
            display: none;
            margin: 20px;

            > .row {
                .col-5 {
                    height: 100%;
                }
            }

            &.active {
                display: block;
            }

            & > .row {
                height: 100%;
            }

            #stopwatchTimeParent {
                display: flex;
                justify-content: center;
                align-items: center;
                #stopwatchTime {
                    display: flex;
                    font-size: 100px;
                    font-weight: 600;
                    margin: auto;
                    text-align: center;
                }
            }

            #lapTime {
                display: flex;
                flex-direction: column-reverse;
                overflow-y: scroll;
                height: 100%;
                width: 100%;
                border-top: 3px solid darkgray;
                border-bottom: 3px solid darkgray;

                #lapTimeList {
                    list-style: none;
                    margin-bottom: 0;
                    .lapTimeItems {
                        font-weight: 500;
                        font-size: 30px;

                        .lappedTimes {
                            float: right;
                            margin-right: 40px;
                        }
                    }
                }
            }
        }

        .timerBtnContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .row {
                height: 33%;
                align-items: center;
            }

            .eachTimerBtn {
                // display: flex;

                .timerBtns {
                    width: 80px;
                    height: 80px;
                    border-radius: 100%;
                    border-width: 2.5px;
                    &#sw-resetBtn {
                        display: none;
                        &.running {
                            display: block;
                        }
                    }
        
                    &#sw-lapBtn {
                        display: none;
        
                        &.running {
                            display: block;
                        }
                    }
        
                    &#pomo-startBtn {
                        display: none;
        
                        &.running {
                            display: block;
                        }
                    }
                    &#pomo-pauseBtn {
                        display: none;
        
                        &.running {
                            display: block;
                        }
                    }
                    &#sw-startBtn {
                        display: none;
        
                        &.running {
                            display: block;
                        }
                    }
                    &#sw-pauseBtn {
                        display: none;
        
                        &.running {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

#lapTime::-webkit-scrollbar {
    width: 8px;
}

#lapTime::-webkit-scrollbar-track {
    display: none;
}

#lapTime::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    border-radius: 5px;
}

#slider {
    width: 300px;
    height: 300px;
}



#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
#outerContainer {
    width: 100%;
    height: 100%;
}

.item {
    i {
        width: 150px;
        height: 150px;
    }
}

  .circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
  }

.circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 10s infinite cubic-bezier(.36, .11, .89, .32);
  }

@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@keyframes time {
    0% {
        opacity: 100%;
    
    }

    100% {
        opacity: 0;
    }
}
  
@media only screen and (max-width: 769px) {
    .modal-body {
        padding: 10px;

        #timers_p {
            margin: 5px !important;
            padding: 0;
        }

        #timers_s {
            margin: 5px !important;
            // flex-direction: column;

            // div{
            //     display: flex;
            // }
        }
    }

    .container {
        margin: 5px;
    }

    .timerBtnContainer {
        flex-direction: row !important;
    }
}