
#timers {
    .modal-header {
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #43519d;
        border: none;

        .btn-close {
        }

        #timerNav {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;

            #timerTabs {
                display: flex;
                background-color: #252e59;
                // box-shadow: 0 0 1px 0 rgba(24, 94, 224, .15),
                //             0 6px 12px 0 rgba(24, 94, 224, .15);
                padding: .75rem;
                border-radius: 8px;
                align-items: center;
    
                & > * {
                    z-index: 2;
                }
    
                .tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 25px;
                    width: 140px;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: 0.25s ease-in-out;
                    font-size: 1.25rem;
                    font-weight: 0.5rem;
                    color: rgb(160, 160, 160);
                }
    
                input[type='radio'] {
                    display: none;
    
                    &:checked + label {
                        color: white;
                    }
                }
    
                input[id="tabP"]{
                    &:checked ~ .glider{
                        transform: translateX(0);
                    }
                }
    
                input[id="tabS"]:checked ~ .glider{
                    transform: translateX(100%);
                }
    
                .glider {
                    position: absolute;
                    display: flex;
                    margin: 0;
                    height: 30px;
                    width: 140px;
                    background-color: #748aff;
                    z-index: 1;
                    border-radius: 7px;
                    transition: 0.25s ease-in-out;
                }
            }
        }


    }

    .modal-body {
        display: flex;
        height: 600px;
        // color: white;

        #timers_p {
            display: none;
            margin: 20px;

            &.active {
                display: block;
            }

            &>.row {
                height: 100%;
            }

            #slider {
                .slider-values {
                    float: right;
                }
            }

        }

        #timers_s {
            display: none;
            margin: 20px;

            > .row {
                .col-5 {
                    height: 100%;
                }
            }

            &.active {
                display: block;
            }

            &>.row {
                height: 100%;
            }
            
            // #stopwatchTimeParent {
            //     height: 100%;
            //     text-align: center;

            //     &::before {      /* create a full-height inline block pseudo-element */
            //         content: ' ';
            //         display: inline-block;
            //         vertical-align: middle; /* vertical alignment of the inline element */
            //         height: 100%;
            //     }

                #stopwatchTime {
                    display: inline-block;
                    vertical-align: middle; 
                    font-size: 100px;
                    margin: auto;
                    text-align: center;
                }
            // }


            #lapTime {
                display: flex;
                flex-direction: column-reverse;
                overflow-y: scroll;
                height: 87%;
                border-top: 3px solid darkgray;
                border-bottom: 3px solid darkgray;

                #lapTimeList {
                    list-style: none;
                    margin-bottom: 0;
                    .lapTimeItems {
                        font-size: 30px;

                        .lappedTimes {
                            float: right;
                            margin-right: 40px;
                        }
                    }
                }
            }
        }

        .timerBtns {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            border-width: 2.5px;
            &#sw-resetBtn {
                display: none;
                &.running {
                    display: block
                }
            }

            &#sw-lapBtn {
                display: none;

                &.running {
                    display: block
                }
            }

            &#pomo-startBtn {
                display: none;

                &.running {
                    display: block
                }
            }
            &#pomo-pauseBtn {
                display: none;

                &.running {
                    display: block
                }
            }
            &#sw-startBtn {
                display: none;

                &.running {
                    display: block
                }
            }
            &#sw-pauseBtn {
                display: none;

                &.running {
                    display: block
                }
            }
        }

        .timerBtnContainer {
            .row {
                height: 33%;
                align-items: center;
            }
        }
    }
}

#lapTime::-webkit-scrollbar {
    width: 8px;
}

#lapTime::-webkit-scrollbar-track {
    display: none;
}

#lapTime::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    border-radius: 5px;
}


#slider {
    width: 300px;
    height: 300px;
}